<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class = "navbar-header">
      <a href="#" class="navbar-brand"> GoMILES</a>
    </div>
  </div>
</nav>
<h2 style="font-family: 'Times New Roman';margin-top:50px;color:rosybrown">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email, :style=>"color:white" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions",:class => "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
