<nav class="navbar navbar-inverse ">
  <div class="container-fluid">
    <div class = "navbar-header">
      <h2 style="font-family:'Times New Roman'; color:white">Reservation details</h2>
    </div>
    <%= render partial: "users/home" %>
    <%= render partial: "users/logout" %>
  </div>
</nav>

<ul class="list-group">
  <li class="list-group-item">   <strong>Pick Up:</strong>
    <%= reservation.checkout_time %></li>
  <li class="list-group-item"><strong>Return:</strong>
    <%= reservation.return_time %></li>
  <li class="list-group-item"> <strong>Total charge: $</strong>
    <%= reservation.total_bill %></li>
  <li class="list-group-item"> <strong>Reservation Status:</strong>
    <%= reservation.reservation_status %></li>
</ul>
